NEXTAUTH_SECRET=secret_key
NEXTAUTH_URL=http://localhost:3000

API_SERVICE=application-service-api
NEXT_PUBLIC_DOMAIN_IMAGE=image-clound
NEXT_PUBLIC_APP_URL=http://localhost:3000
DEFAULT_LOCALE=locale
